const overlayTemplate = `
<div class="overlay">
  <table>
    <tr>
      <td>
        <span class="map-name">{{mapName}}</span>

        <img
          v-if="map === undefined"
          class="loading-indicator"
          src="assets/loading.gif"
        />

        <span v-else-if="map && map.validated">
          {{modeName}} / T{{map.difficulty}}
        </span>

        <span v-else-if="mapIsKz">{{modeName}} / NON GLOBAL</span>
      </td>
    </tr>

    <record-row
      v-if="map && proWr !== null"
      :wr="proWr"
      :pb="proPb"
      label="PRO"
    ></record-row>

    <record-row
      v-if="map && tpWr !== null && !config.preferNubTimes"
      :wr="tpWr"
      :pb="tpPb"
      label="TP"
    ></record-row>

    <record-row
      v-if="map && nubWr !== null && config.preferNubTimes"
      :wr="nubWr"
      :pb="nubPb"
      label="NUB"
    ></record-row>
  </table>

  <debug-table
    v-if="config.debugMode"
    :map="mapName"
    :modes="config.validKzModes"
    @changeMap="mapName = $event"
    @changeMode="modeName = $event"
  ></debug-table>
</div>
`;
